In [2]:
# Importing all libraries required.
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# set it to convert scientific values
pd.options.display.float_format = '{:.2f}'.format 

# Regular expressions for string manipulation
import re

# Ignore warnings due to version problems
import warnings
warnings.filterwarnings('ignore')

# to print versions of packages
#!pip install print-versions # works for python >= 3.8
from print_versions import print_versions

# versions
import sys
import platform


#import zipfile module for taking the loan.csv
from zipfile import ZipFile

#installed pip install zipfile36
import zipfile36
import io

In [3]:

print(platform.python_version())
print_versions(globals())

3.10.5
numpy==2.0.2
pandas==2.2.2
seaborn==0.13.2
re==2.2.1
platform==1.0.8
zipfile36==0.1.3

In [4]:
# Load file directly from the upgrad site and unzipping to a dataframe
loandf = pd.read_csv('https://cdn.upgrad.com/UpGrad/temp/3ba74fb7-bd88-4854-8597-1c225a5aed99/loan.zip',compression='zip')

In [5]:
loandf.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.00,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.00,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.00,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.00,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.00,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN

In [6]:
#Finding the Null columns and rows

print("Null Rows", loandf.isnull().all(axis=1).sum())
print("Null Columns", loandf.isnull().all(axis=0).sum())

Null Rows 0
Null Columns 54

In [7]:
#Dropping the full Null columns

loandf.dropna(axis=1,how='all',inplace=True)
loandf.shape

(39717, 57)

In [9]:
loandf.isna().sum()
# Finding columns that have null
loandf.columns[loandf.isnull().any()]

Index(['emp_title', 'emp_length', 'desc', 'title', 'mths_since_last_delinq',
       'mths_since_last_record', 'revol_util', 'last_pymnt_d', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'chargeoff_within_12_mths', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')