In [2]:
# Importing all libraries required.
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# set it to convert scientific values
pd.options.display.float_format = '{:.2f}'.format 

# Regular expressions for string manipulation
import re

# Ignore warnings due to version problems
import warnings
warnings.filterwarnings('ignore')

# to print versions of packages
#!pip install print-versions # works for python >= 3.8
from print_versions import print_versions

# versions
import sys
import platform


#import zipfile module for taking the loan.csv
from zipfile import ZipFile

#installed pip install zipfile36
import zipfile36
import io

In [3]:

print(platform.python_version())
print_versions(globals())

3.10.5
numpy==2.0.2
pandas==2.2.2
seaborn==0.13.2
re==2.2.1
platform==1.0.8
zipfile36==0.1.3

In [4]:
# Load file directly from the upgrad site and unzipping to a dataframe
loandf = pd.read_csv('https://cdn.upgrad.com/UpGrad/temp/3ba74fb7-bd88-4854-8597-1c225a5aed99/loan.zip',compression='zip')

In [5]:
loandf.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.00,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.00,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.00,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.00,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.00,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN

In [8]:
# Checking for duplicated rows in data
loandf[loandf.duplicated()]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 111 columns]

In [9]:
#Finding the Null columns and rows

print("Null Rows", loandf.isnull().all(axis=1).sum())
print("Null Columns", loandf.isnull().all(axis=0).sum())

Null Rows 0
Null Columns 54

In [10]:
#Dropping the full Null columns

loandf.dropna(axis=1,how='all',inplace=True)
loandf.shape

(39717, 57)

In [11]:
loandf.isna().sum()
# Finding columns that have null
loandf.columns[loandf.isnull().any()]

Index(['emp_title', 'emp_length', 'desc', 'title', 'mths_since_last_delinq',
       'mths_since_last_record', 'revol_util', 'last_pymnt_d', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'chargeoff_within_12_mths', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [ ]:
#Loading all non Null columns to a new dataframe - loandf1
loandf1=loandf.dropna(axis=1,how='any')

In [14]:
loandf1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,policy_code,application_type,acc_now_delinq,delinq_amnt
0,1077501,1296599,5000,5000,4975.00,36 months,10.65%,162.87,B,B2,...,5000.00,863.16,0.00,0.00,0.00,171.62,1,INDIVIDUAL,0,0
1,1077430,1314167,2500,2500,2500.00,60 months,15.27%,59.83,C,C4,...,456.46,435.17,0.00,117.08,1.11,119.66,1,INDIVIDUAL,0,0
2,1077175,1313524,2400,2400,2400.00,36 months,15.96%,84.33,C,C5,...,2400.00,605.67,0.00,0.00,0.00,649.91,1,INDIVIDUAL,0,0
3,1076863,1277178,10000,10000,10000.00,36 months,13.49%,339.31,C,C1,...,10000.00,2214.92,16.97,0.00,0.00,357.48,1,INDIVIDUAL,0,0
4,1075358,1311748,3000,3000,3000.00,60 months,12.69%,67.79,B,B5,...,2475.94,1037.39,0.00,0.00,0.00,67.79,1,INDIVIDUAL,0,0

In [15]:
#resorting index
loandf1 = loandf1.reindex(sorted(loandf1.columns), axis=1)
loandf1

,acc_now_delinq,addr_state,annual_inc,application_type,collection_recovery_fee,delinq_2yrs,delinq_amnt,dti,earliest_cr_line,funded_amnt,...,term,total_acc,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,url,verification_status,zip_code
0,0,AZ,24000.00,INDIVIDUAL,0.00,0,0,27.65,Jan-85,5000,...,36 months,9,5863.16,5833.84,863.16,0.00,5000.00,https://lendingclub.com/browse/loanDetail.acti...,Verified,860xx
1,0,GA,30000.00,INDIVIDUAL,1.11,0,0,1.00,Apr-99,2500,...,60 months,4,1008.71,1008.71,435.17,0.00,456.46,https://lendingclub.com/browse/loanDetail.acti...,Source Verified,309xx
2,0,IL,12252.00,INDIVIDUAL,0.00,0,0,8.72,Nov-01,2400,...,36 months,10,3005.67,3005.67,605.67,0.00,2400.00,https://lendingclub.com/browse/loanDetail.acti...,Not Verified,606xx
3,0,CA,49200.00,INDIVIDUAL,0.00,0,0,20.00,Feb-96,10000,...,36 months,37,12231.89,12231.89,2214.92,16.97,10000.00,https://lendingclub.com/browse/loanDetail.acti...,Source Verified,917xx
4,0,OR,80000.00,INDIVIDUAL,0.00,0,0,17.94,Jan-96,3000,...,60 months,38,3513.33,3513.33,1037.39,0.00,2475.94,https://lendingclub.com/browse/loanDetail.acti...,Source Verified,972xx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,0,CO,110000.00,INDIVIDUAL,0.00,0,0,11.33,Nov-90,2500,...,36 months,40,2822.97,1213.88,322.97,0.00,2500.00,https://lendingclub.com/browse/loanDetail.acti...,Not Verified,802xx
39713,0,NC,18000.00,INDIVIDUAL,0.00,1,0,6.40,Dec-86,8500,...,36 months,9,9913.49,1020.51,1413.49,0.00,8500.00,https://lendingclub.com/browse/loanDetail.acti...,Not Verified,274xx
39714,0,MA,100000.00,INDIVIDUAL,0.00,0,0,2.30,Oct-98,5000,...,36 months,20,5272.16,1397.12,272.16,0.00,5000.00,https://lendingclub.com/browse/loanDetail.acti...,Not Verified,017xx
39715,0,MD,200000.00,INDIVIDUAL,0.00,0,0,3.72,Nov-88,5000,...,36 months,26,5174.20,672.66,174.20,0.00,5000.00,https://lendingclub.com/browse/loanDetail.acti...,Not Verified,208xx
39716,0,MA,22000.00,INDIVIDUAL,0.00,1,0,14.29,Oct-03,7500,...,36 months,8,9195.26,980.83,1695.26,0.00,7500.00,https://lendingclub.com/browse/loanDetail.acti...,Not Verified,027xx

In [16]:
#Converting debt to income (dti), funded amount (funded_amnt), funded amount investor (funded_amnt_inv) and loan amount (loan_amnt) to float.
loandf1 = loandf1.astype({
    'dti': 'float',
    'funded_amnt' : 'float',
    'funded_amnt_inv' : 'float',
    'loan_amnt' : 'float'
})

In [17]:
# Converting "term" column to int
loandf1['term'] = loandf1['term'].apply(lambda x: int(x.replace('months', '').strip()))

In [19]:
#Converting loan date (issue_d) to DateTime (format: yyyy-mm-dd)
loandf1['issue_d'] = pd.to_datetime(loandf1['issue_d'], format = '%b-%y')

In [20]:
# Converting int_rate column to float 
loandf1['int_rate'] = loandf1['int_rate'].apply(lambda x: float(x.replace('%', '').strip()))

AttributeError: 'float' object has no attribute 'replace'

In [21]:
# Rounding the columns to two decimal places
for col in ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'dti']:
    loandf1[col] = loandf1[col].apply(lambda x: round(x, 2))